<!-- IF S_SETDESC and S_FIRSTP -->
<dl style="clear: left;">
		<dt><label for="topic_desc">{L_DESC}</label><br /><span>{L_DESC_EXP}</span></dt>
		<dd><input type="text" name="topic_desc" id="topic_desc" size="45" maxlength="255" tabindex="2" value="{TOPIC_DESC}" onchange="count_desc.value = topic_desc.value.length" oninput="count_desc.value = topic_desc.value.length" onfocus="count_desc.value = topic_desc.value.length" class="inputbox autowidth" /><output size="1" value="0" id="count_desc" type="text"></dd>
	</dl>
<!-- ENDIF -->